.navbar{
    /* background-color: aquamarine; */
    background-color:brown;
    padding:20px 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:left;
    font-size: 19px;
}

.navbar>span{
    color: beige;
    margin-right:100px;
    text-decoration: none;
}
/* .link.l1{
    margin-left: 600px;
} */

.link{
    color: beige;
    text-decoration: none;
    font-weight: 600;
}

.link:hover, .link:active{
    color: white;
}
.home{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    text-align: center;
    background-color: antiquewhite;
    padding: 170px;
    margin:25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(67, 67, 67);
}